@model Policy;
@{
  ViewData["Title"] = "Register";
}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" />
<link href="css/bootstrap-datepicker.min.css" rel="stylesheet" type="text/css" />
<script src="js/jquery-3.6.0.min.js" type="text/javascript"></script>
</script>
<script src="js/bootstrap.min.js" type="text/javascript"></script>
<script src="js/bootstrap-datepicker.min.js" type="text/javascript"></script>

<body style="background-color: rgb(248, 235, 248);">
  <div class="text-center">
    <h2 style="color:rgba(129, 10, 109, 0.863) ;">Register Here! </h2>
  </div><br>
  <form method="post">
    <div class="row">
      <div class="col-md-6 mb-4">

        <div class="form-outline">
          <input asp-for="EmployeeId" type="text" class="form-control form-control-lg" value="@ViewBag.id" readonly />
          <label class="form-label">Employee Id</label>
        </div>

      </div>

      <div class="col-md-6 mb-4">

        <div class="form-outline">
          <input type="text" asp-for="Name" class="form-control form-control-lg" required />
          <label class="form-label">Name</label>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label">E-mail</label>
          <input type="text" asp-for="UserName" class="form-control form-control-lg" value="@TempData["user"]"
            readonly />

        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="form-outline">
          <label class="form-label">Date of Birth</label>
          <input type="date" asp-for="DateofBirth" id="dob" class=" form-control form-control-lg " max="" required />

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 mb-4 ">
        <div class="form-outline ">
          <label class="form-label select-label">Policy for &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <br><select asp-for="Type" class="select form-control-lg">
            <option value="Self">Self</option>
            <option value="Mother">Mother</option>
            <option value="Father">Father</option>
            <option value="Spouse">Spouse</option>
            <option value="Son">Son</option>
            <option value="Daughter">Daughter</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="form-outline ">
          <label class="form-label select-label">Claim Amount &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
          <select asp-for="PolicyAmount" class="select form-control-lg">
            <option value="20000000">2 Crore</option>
            <option value="10000000">1 Crore</option>
            <option value="5000000">50 Lakhs</option>
            <option value="2500000">25 Lakhs</option>
            <option value="1000000">10 Lakhs</option>
            <option value="500000">5 Lakhs</option>
          </select>
        </div>
      </div>
      <div class="col-md-3 mb-4">
        <div class="form-outline ">
          <label class="form-label">Policy Name </label>
          <select asp-for="PolicyName" class="select form-control-lg" aria-placeholder="Select Insurance Type" required>
            <option value="Individual health plan">Individual Health Plan</option>
            <option value="Family Health Plan">Family Health Plan</option>
            <option value="5000000">Maternity Insurance</option>
            <option value="Senior Citizen Insurance">Senior Citizen Insurance </option>
          </select>
        </div>
      </div>
      <div class="col-md-2 mb-4">
        <div class="form-outline ">
          <label class="form-label select-label">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Policy Duration
            &nbsp;&nbsp;&nbsp;&nbsp; </label>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<select asp-for="PolicyDuration"
            class="select form-control-lg">
            <option value="30">30 Years</option>
            <option value="25">25 Years</option>
            <option value="20">20 Years</option>
            <option value="15">15 Years</option>
            <option value="10">10 Years</option>
          </select>
        </div>
      </div>
    </div>
    <br>
    <br>
    <div class="row">

      <p> <button class="btn btn-primary " style="margin-right: 50%;margin-left:30px;padding:5px 20px;" type="submit">
          Submit </button>

        <a class="btn btn-outline-primary" href="/Employee/AddPolicy" role="button"> Back</a>
      </p>

    </div>
  </form>

  <script>
    $(function () {
      var date = new Date();
      $('#dob1').datepicker({
        endDate: date
      })
    })
  </script>
  <script>
    var date = new Date().toISOString().split('T')[0]; document.getElementById("dob").setAttribute("max", date);
  </script>
  <style>
    .gradient-custom {
      /* fallback for old browsers */
      background: rgb(248, 235, 248);

      /* Chrome 10-25, Safari 5.1-6 */
      background: rgb(248, 235, 248);

      /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
      background: rgb(248, 235, 248);
    }

    @*.card-registration*@.select-input.form-control[readonly]:not([disabled]) {

      line-height: 2.15;
      padding-left: .75em;
      padding-right: .75em;
    }

    .card-registration .select-arrow {
      top: 10px;
    }
  </style>
</body>