@model Response;
@{
  ViewData["Title"] = "Reply";
}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: rgb(248, 235, 248);">
  <section class="h-100 gradient-form" style="background-color: rgb(245, 214, 242);">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-4">
          <div class="container py-3 h-100  align-items-center" style="background-color: white;">
            <div class="text-center">
            </div>
            <form method="post">
              <input asp-for=Username type="text" class="form-control" value="@ViewBag.user" hidden />
              <p><b> Reply To : @ViewBag.id6</b></p>
              <input asp-for=EmployeeId type="text" class="form-control" value="@ViewBag.id6" hidden />
              <div class="form-outline mb-4">
                <label class="form-label">Query</label>
                <textarea type="text" class="form-control" readonly>@ViewBag.query</textarea>
              </div>
              <div class="form-outline mb-4">
                <label class="form-label">Reply Message</label>
                <textarea asp-for=Reply type="text" class="form-control" placeholder="Type here"
                  style="height: 150px;padding:0px;"></textarea>
              </div>

              <div class="bar" style="padding: 5%;">
                <button class="btn btn-primary " style="margin-right: 30%;" type="submit"> Submit </button>
                <a class="btn btn-outline-primary" href="/Admin/Requests" role="button"> Back</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
