@{
  ViewData["Title"] = "ImportFromExcel";
}

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: rgb(248, 235, 248);">

  <section class="h-100 gradient-form" style="background-color: rgb(245, 214, 242);">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-xl-4">
          <div class="container py-3 h-100  align-items-center" style="background-color: White;">
            <div class="text-center">
              <img src="https://th.bing.com/th/id/OIP.3MsoHiIIiSGZcXH0yLSjEgAAAA?pid=ImgDet&rs=1"
                style="width: 300px;height:150px;" alt="logo">
              <h4 class="mt-0 mb-5 pb-1" style="color:rgba(129, 10, 109, 0.863) ;">Add Employee Login Details From Excel
                File</h4>
            </div>
            <form method="post" enctype="multipart/form-data">
              <div class="form-outline mb-4">
                <label class="form-label">Excel File</label>
                <input type="file" class="form-control" placeholder="select Excel file" required />
              </div>
              <div class="bar" style="padding: 5%;">
                <button class="btn btn-primary " style="margin-right: 30%;" type="submit"> Submit </button>
                <a class="btn btn-outline-primary" href="/Home/Details" role="button"> Cancel</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>