@{
  ViewData["Title"] = "Index";
}

<head>
  <title>Insurance Management System</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body style="background-color: rgb(248, 235, 248);">
  <div class="text-center">
    <h2 style="color:rgba(129, 10, 109, 0.863) ;">WELCOME ASPIRIANS !</h2>

    <div><img src="https://yt3.ggpht.com/a/AATXAJwjy4TEgSAO1Rbs4O9YmBz15QvL0CBcqpOobA=s900-c-k-c0xffffffff-no-rj-mo"
        width="300" height="300" style="position: sticky;" href="https://www.aspiresys.com/"></div><br>
    <div class="bar">

      <h3><i>“Driving race cars is risky, <br> not having life insurance is riskier” <br>-Danica Patrick</i></h3>

    </div>
  </div>

</body>
