@{
    ViewData["Title"] = "Error Page";
}

<body style="background-color: rgb(248, 235, 248);" >
<h1 class="text-danger" style="margin-top: 80px;margin-left: 80px;">Error.</h1>
<h2 class="text-danger" style="margin-left: 80px;">An error occurred while processing your request.</h2>
<a href="/Home/Login" style="margin-left: 80px;font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Retry</a> &nbsp;&nbsp;or &nbsp;  <a href="mailto:neela.dhanalakshmi1810@gmail.com" style="font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">Contact owner</a><p style="font-size: 32px;margin-left: 80px;">☺</p>
</body >